@model Internship
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Internship</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input asp-for="InternshipId" hidden />                    
            <div class="border p-3 mt-4">

                <div class="form-floating py-2 col-12">
                    <input asp-for="CompanyName" class="form-control border-0 shadow" />
                    <label asp-for="CompanyName" class="ms-2"></label>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Title" class="form-control border-0 shadow" />
                    <label asp-for="Title" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <textarea asp-for="Description" class="form-control border-0 shadow"></textarea>
                    <label asp-for="Description" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="StartDate" class="form-control border-0 shadow" type="datetime-local" />
                    <label asp-for="StartDate" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="EndDate" class="form-control border-0 shadow" type="datetime-local" />
                    <label asp-for="EndDate" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Location" class="form-control border-0 shadow" />
                    <label asp-for="Location" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="IsPaid" class="form-check-input" />
                    <label asp-for="IsPaid" class="form-check-label">Paid</label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="PayPerHour" class="form-control border-0 shadow" />
                    <label asp-for="PayPerHour" class="ms-2"></label>
                </div>

                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control" onclick="ShowMessage('Internship updated successfuly!')">Update</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Internship" asp-action="Index" class="btn btn-secondary border  form-control">
                            Back to List
                        </a>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
} 