@model Company

<div class="container">
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Create Company</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <form method="post" class="row" enctype="multipart/form-data">
                <div class="col-md-6 mx-auto">
                    <div class="mb-3">
                        <label asp-for="CompanyName" class="form-label"></label>
                        <input asp-for="CompanyName" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Website" class="form-label"></label>
                        <input asp-for="Website" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Country" class="form-label"></label>
                        <input asp-for="Country" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="City" class="form-label"></label>
                        <select asp-for="City" class="form-select">
                            <option disabled selected>-Select Location-</option>
                            @foreach (var city in SD.Cities)
                            {
                                <option value="@city">@city</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Address" class="form-label"></label>
                        <input asp-for="Address" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Industry" class="form-label"></label>
                        <input asp-for="Industry" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label"></label>
                        <input asp-for="Description" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="ImageUrl" class="form-label"></label>
                        <input asp-for="ImageUrl" type="file" name="file" class="form-control" />
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary form-control"><i class="bi bi-sd-card"></i> Create</button>
                        </div>
                        <div class="col-md-6">
                            <a asp-controller="Company" asp-action="Index" class="btn btn-outline-primary form-control"><i class="bi bi-arrow-left"></i> Back to List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
