<h2>Register as...</h2>
<div>
<a asp-controller="Company" asp-action="Create" class="btn btn-primary mx-2">
     Company
</a>
<a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary mx-2">
     Student
</a>
</div>
