<div class="container text-center">
    <h2>Register as...</h2>
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <a asp-controller="Company" asp-action="Create" class="btn btn-primary btn-lg btn-block mb-3">
                <i class="bi bi-building"></i> Register as Company
            </a>
        </div>
        <div class="col-md-6">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary btn-lg btn-block mb-3">
                <i class="bi bi-person"></i> Register as Student
            </a>
        </div>
    </div>
</div>
