@model ApplicationEditViewModel

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" name="InternshipApplicationId" value="@Model.InternshipApplicationId" />

    <div class="form-floating py-2 col-12">
        <input asp-for="FirstName" class="form-control border-0 shadow" disabled />
        <label asp-for="FirstName" class="ms-2"></label>
    </div>

    <div class="form-floating py-2 col-12">
        <input asp-for="LastName" class="form-control border-0 shadow" disabled />
        <label asp-for="LastName" class="ms-2"></label>
    </div>

    <div class="form-floating py-2 col-12">
        <input asp-for="Email" class="form-control border-0 shadow" disabled/>
        <label asp-for="Email" class="ms-2"></label>
    </div>
     @if (User.IsInRole(SD.Role_Student))
    {
        <div class="form-floating py-2 col-12">
            <input asp-for="CvFile" class="form-control border-0 shadow" type="file" id="cvFile" name="CvFile" />
        <label asp-for="CvFile" class="ms-2"></label>
        <span asp-validation-for="CvFile" class="text-danger"></span>

    </div>
    }
    @if (!User.IsInRole(SD.Role_Student))
    {
        <div class="form-floating py-2 col-12">
            <select asp-for="SelectedStatus" class="form-select">
                <option value="In_progress">In progress</option>
                <option value="Accepted">Accepted</option>
                <option value="Declined">Declined</option>
            </select>
            <label asp-for="SelectedStatus" class="ms-2"></label>
        </div>
    }

    <button type="submit">Update</button>
</form>
