@model byte[]

@if (Model != null && Model.Length > 0)
{
    <iframe src="@Url.Action("ViewPdf", "YourController")" style="width: 100%; height: 600px;"></iframe>
}
else
{
    <p>No PDF content available.</p>
}