@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="text-center">
    <h1 class="display-4">Forgot Password Confirmation</h1>
    <p>We have sent you instructions on how to reset your password. Please check your email.</p>
</div>
